#LoginEmail-form{
margin-left: 10%;
margin-top: 10%;
}

.loginInput{
    margin: 3px;
    border-width: 0px;
}

.submitButton{
    margin: 3px;
    border-width: 0px;
    transition: background-color 300ms;
}

.submitButton:hover{
    margin: 3px;
    border-width: 0px;
    background-color: #c0e000;
}

.imageSVG{

}
